<form action="/search" method="get">
    <label for="searchQuery">검색어:</label>
    <input id="searchQuery" type="text" name="searchQuery" required>
    <input id="searchBtn" type="submit" value="검색">
</form>
