<!DOCTYPE html>
<html>
<head>
    <title>메인 페이지</title>
</head>
<body>
    <form action="/search" method="get">
        <label for="searchQuery">검색어:</label>
        <input id="searchQuery" type="text" name="searchQuery" required>
        <input id="searchBtn" type="submit" value="검색">
    </form>

    <h1>인기 있는 프로들</h1>
    <div id="popularProsList"></div>

    <h1>근처의 골프장</h1>
    <label for="userIdInput">사용자 ID:</label>
    <input id="userIdInput" type="text" placeholder="사용자 ID 입력">
    <button onclick="fetchNearestGolfCourses()">근처 골프장 찾기</button>
    <div id="nearestGolfCoursesList"></div>

    <script>
        // 서버에서 인기 있는 프로들의 데이터를 가져오는 함수
        async function fetchPopularPros() {
            try {
                const response = await fetch('/popular-pros');
                const popularPros = await response.json();
                displayPopularPros(popularPros);
            } catch (error) {
                console.error('인기 있는 프로들을 불러오는데 실패했습니다:', error);
            }
        }

        // 가져온 데이터를 화면에 표시하는 함수
        function displayPopularPros(pros) {
            const container = document.getElementById('popularProsList');
            container.innerHTML = '';
            pros.forEach(proStat => {
                const pro = proStat.pro; // 프로 객체 추출
                const div = document.createElement('div');
                div.innerHTML = `이름: ${pro.name}, 이메일: ${pro.email}, 평점: ${proStat.averageRating}`; // 이메일과 평균 평점 사용
                container.appendChild(div);
            });
        }

        // 서버에서 근처의 골프장 데이터를 가져오는 함수
        async function fetchNearestGolfCourses() {
            try {
                const userId = document.getElementById('userIdInput').value;
                const response = await fetch(`/nearest-golfcourse?userId=${userId}`);
                const nearestGolfCourses = await response.json();
                displayNearestGolfCourses(nearestGolfCourses);
            } catch (error) {
                console.error('근처의 골프장을 불러오는데 실패했습니다:', error);
            }
        }

        // 가져온 데이터를 화면에 표시하는 함수
        function displayNearestGolfCourses(course) {
            const container = document.getElementById('nearestGolfCoursesList');
            container.innerHTML = ''; // 기존 내용을 지웁니다.

            // 골프장 정보를 표시하는 div 요소를 생성합니다.
            const div = document.createElement('div');
            div.innerHTML = `골프장 이름: ${course.name}, 주소: ${course.address.coordinates.join(', ')}`;
            container.appendChild(div);
        }


        // 페이지 로드 시 인기 있는 프로들과 근처의 골프장을 불러옴
        fetchPopularPros();
    </script>
</body>
</html>
