<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
</head>
<body>
    <form action="/login" method="post">
        <label for="username">Username:</label>
        <input id="id" type="text" name="username" required><br><br>
        <label for="password">Password:</label>
        <input id="password" type="password" name="password" required><br><br>
        <input id="loginBtn" type="submit" value="Login">
    </form>
    <% if (typeof message !== 'undefined') { %>
        <p><%= message %></p>
      <% } %></body>
</html>
